@font-face {
  font-family: "ProximaNova-Black";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-Black.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-Bold.otf");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "ProximaNova-BoldIt";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-BoldIt.otf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: "ProximaNova-Light";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-Light.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-LightIt.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Reg";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-Reg.otf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-RegIt";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-RegIt.otf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "ProximaNova-Extrabold";
  src: url("/front-end-test/fonts/ProximaNova/ProximaNova-Xbold.otf");
  font-style: normal;
  font-weight: bold;
}